
.container_header{
  background-image: url("./assets/fondo_header.jpg");
  background-size: cover;
}

.container_home{
  background-image: url("./assets/calculator.jpg");
  background-size: cover;
  min-height: 700px;
}

.hover_span:hover{
  color:red;
  
}

.price{
  font-size: 2rem;
  font-weight: bold;
  margin-top: -10px;
}

.more_info{
  font-size: 0.7rem;
  color:grey;
  margin-right: 8px;
  text-decoration: underline;
  cursor:pointer;
}

.more_info:hover{
  color: blue;
}